<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
        </property>
        <property name="hibernate.connection.url">
            jdbc:sqlserver://localhost:1433;databaseName=resources
        </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLServerDialect
        </property>
        <mapping class="com.softserve.edu.entities_2.Role"/>
        <mapping class="com.softserve.edu.entities_2.User"/>
    </session-factory>
</hibernate-configuration>